:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Колір і фон краще контролювати через React App.jsx */
  color-scheme: light dark;
}

* {
  box-sizing: border-box; /* Важливо: щоб padding не роздував елементи */
  margin: 0;
  padding: 0;
}

body, html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Забороняємо системний скрол, працюємо тільки через зум-панель */
}

/* Прибираємо синю підсвітку при натисканні на мобілках */
* {
  -webkit-tap-highlight-color: transparent;
}